<!--  -->
<div class="container mb-3">
    <div class="row">
        <div class="col-md-3">
            <div class="list-group">
                <a href="#"
                    class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">Apple<span
                        class="badge bg-success">></span></a>
                <a href="#"
                    class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">Samsung<span
                        class="badge bg-success">></span></a>
                <a href="#"
                    class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">Xiaomi<span
                        class="badge bg-success">></span></a>
                <a href="#"
                    class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">Nokia<span
                        class="badge bg-success">></span></a>
                <a href="#"
                    class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">Vivo<span
                        class="badge bg-success">></span></a>
                <div class="card-footer pb-3 border">
                    <div class="input-group input-group-sm mt-3">
                        <span class="input-group-text" id="inputGroup-sizing-sm"><i class="fa-solid fa-magnifying-glass"></i></span>
                        <input type="text" class="form-control" aria-label="Sizing example input"
                            aria-describedby="inputGroup-sizing-sm">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0"
                        class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                        aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                        aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="public/images/banner1.jpg" alt="..." style="width: 100%;">
                    </div>
                    <div class="carousel-item">
                        <img src="public/images/banner2.jpg" alt="..." style="width: 100%;">
                    </div>
                    <div class="carousel-item">
                        <img src="public/images/banner3.jpg" alt="..." style="width: 100%;">
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
        <div class="col-md-3 py-0">
            <div class="card mb-1 " style="width: 100%;">
                <img src="public/images/RightBanner_PreOrder_WATCH6_Series_07.jpg" style="width: 100%;" width="100%"
                    class="card-img-top rounded-3" alt="...">
            </div>
            <div class="card mb-1" style="width: 100%;">
                <img src="public/images/th-hieu-ss-0013.jpg" class="rounded-3 card-img-top" alt="...">
            </div>
        </div>
    </div>
</div>