<!--  -->
<footer class="bg-light text-center text-lg-start mt-2">
    <!-- Grid container -->
    <div class="container p-4 pb-0 ">
        <form action="">
            <!--Grid row-->
            <div class="row justify-content-center">
                <!--Grid column-->
                <div class="col-auto mb-4 mb-md-0">
                    <p class="pt-2">
                        <strong>Liên hệ:</strong>
                    </p>
                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-md-5 col-12 mb-4 mb-md-0">
                    <!-- Email input -->
                    <div class="form-outline mb-4">
                        <input type="email" id="form5Example25" class="form-control" placeholder="Email" />
                    </div>
                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-auto mb-4 mb-md-0">
                    <!-- Submit button -->
                    <button type="submit" class="btn btn-primary mb-4">
                        Gửi
                    </button>
                </div>
                <!--Grid column-->
            </div>
            <!--Grid row-->
        </form>
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © Copyright: toanlqph43841@fpt.edu.vn
    </div>
    <!-- Copyright -->
</footer>