<div class="container-fluid">
    <div class="row" style="background-color: #098f3f; padding: 1rem;">
        <div class="col-sm-9 text-white d-flex align-items-center justify-content-start">
            <img src="public/images/background-orange-fpt-polytechnic-logo-symbol-fpt-group-orange-sa-text-line-png-clipart-removebg-preview.png"
                style="width: 80px;" alt="">
            <span class="ms-2">QUẢN TRỊ</span>
        </div>
        <div class="col-sm-3 text-white d-flex align-items-center justify-content-center">
            <span>Admin</span>
        </div>
    </div>
</div>