    <div class="card border border-dark">
        <div class="card-header">
            <i class="fa-solid fa-bars"></i>
            <span>Bảng điều khiển</span>
        </div>
        <div class="card-body p-0">
            <div class="list-group list-group-light">
                <a href="#!/admin/sanpham" class="list-group-item list-group-item-action px-3 border-0">Quản lí
                    sản phẩm</a>
                <a href="#!/admin/nguoidung" class="list-group-item list-group-item-action px-3 border-0">Quản
                    lí người dùng</a>
            </div>
        </div>
        <div class="card-footer">
            <a class="text-decoration-none" href="#!/">Trang chủ</a>
        </div>
    </div>