<div ng-include="'views/layouts/_header_admin.html'"></div>
<div class="container mt-3">
    <div class="row">
        <div class="col-sm-2" ng-include="'views/layouts/_sidebar_admin.html'" novalidate></div>

        <div class="col-sm-10 border rounded">
            <h4 class="text-center">Đây là trang quản trị người dùng</h4>
            <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModalCreate"
                ng-click="init()">Thêm người dùng</button>
            <table class="table table-striped">
                <thead>
                    <th>#</th>
                    <th>Tên đăng nhập</th>
                    <th>Mật khẩu</th>
                    <th>Email</th>
                    <th>Trạng thái</th>
                    <th>Chức năng</th>
                </thead>
                <tbody>
                    <tr ng-repeat="(key,value) in listU">
                        <td>{{key+1}}</td>
                        <td>{{value.tenND}}</td>
                        <td>{{value.passND}}</td>
                        <td>{{value.emailND}}</td>
                        <td><span class="badge rounded-pill bg-secondary">{{value.quyenND | role}}</span></td>
                        <td>
                            <button ng-click="confirmUpdate(value.id)" data-bs-toggle="modal"
                                data-bs-target="#exampleModalEdit" class="btn btn-primary">Sửa</button>
                            <button ng-click="confirmDelete(value.id)" data-bs-toggle="modal"
                                data-bs-target="#exampleModalDelete" class="btn btn-danger">Xóa</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- Modal Create -->
<div class="modal fade" id="exampleModalCreate" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-top-right">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Thêm Người dùng</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="mb-3">
                        <label class="form-label">Tên đăng nhập:</label>
                        <input type="text" class="form-control" ng-model="dataInput.userName">
                        <small class="text-danger" ng-show="validate.userName">Vui lòng nhập tên đăng nhập!</small>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Mật khẩu:</label>
                        <input type="text" class="form-control" ng-model="dataInput.passWord">
                        <span class="text-danger" ng-if="validate.passWord">Đừng quên nhập mật khẩu nhá!</span>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Email:</label>
                        <input type="text" class="form-control" ng-model="dataInput.email">
                        <span class="text-danger" ng-show="validate.email">Ơ kìa bạn không nhập Email à!</span>
                    </div>
                    <div>
                        <span>Trạng thái:</span>
                        <input type="radio" name="gender" ng-model="dataInput.role" id="male" value="1">
                        <label for="male">Quản trị viên</label>
                        <input type="radio" name="gender" ng-model="dataInput.role" id="female" value="2">
                        <label for="female">Người dùng</label>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                <button ng-click="onCreate()" type="button" class="btn btn-primary">Lưu</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal Update -->
<div class="modal fade" id="exampleModalEdit" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-top-right">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Sửa Sản Phẩm</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="mb-3">
                        <label class="form-label">Tên đăng nhập:</label>
                        <input type="text" class="form-control" ng-model="dataInput.userName">
                        <small class="text-danger" ng-show="validate.userName">Vui lòng nhập tên đăng nhập!</small>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Mật khẩu:</label>
                        <input type="text" class="form-control" ng-model="dataInput.passWord">
                        <span class="text-danger" ng-if="validate.passWord">Đừng quên nhập mật khẩu nhá!</span>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Email:</label>
                        <input type="text" class="form-control" ng-model="dataInput.email">
                        <span class="text-danger" ng-show="validate.email">Ơ kìa bạn không nhập Email à!</span>
                    </div>
                    <div>
                        <span>Trạng thái:</span>
                        <input type="radio" name="gender" ng-model="dataInput.role" id="male" value="1">
                        <label for="male">Quản trị viên</label>
                        <input type="radio" name="gender" ng-model="dataInput.role" id="female" value="2">
                        <label for="female">Người dùng</label>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                <button ng-click="onUpdate()" type="button" class="btn btn-primary">Sửa</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal Delete -->
<div class="modal fade" id="exampleModalDelete" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-top-right">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Sửa Sản Phẩm</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <h6>Bạn chắc chắn xóa chứ</h6>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                <button ng-click="onDelete()" type="button" class="btn btn-primary">Chắc chắn</button>
            </div>
        </div>
    </div>
</div>