<div ng-include="'views/layouts/_navbar.html'"></div>
<div ng-include="'views/layouts/_banner.html'"></div>
<!--  -->
<div class="container">
    <section class="">
        <h2>Điện thoại nổi bật</h2>
        <div class="row ">
            <div class="card" style="width: 16rem; margin: 5px 0px 0px 5px;" ng-repeat="value in listSP">
                <a href="" class="text-decoration-none text-dark">
                    <img src="public/images/_76666_7__3-3.jpg" class="card-img-top" alt="...">
                    <div class="card-body px-0">
                        <h6 class="card-title" style="height: 40px;">{{value.tenSP}}</h6>
                        <span class="text-danger">{{value.giaSP | currency:"$"}}</span>
                    </div>
                </a>
            </div>
        </div>

    </section>
</div>
<!--  -->
<div ng-include="'views/layouts/_footer.html'"></div>